h1,
h2{
    font-family: serif;
}

h2,
h3,
h4{
    font-style: normal;
}
h3,
h4,
p,
ul,
li{
    font-family: sans-serif;
    line-height: 1.5;
}

.bodycont{
    max-width: 740px;
    margin: 20px auto;
}

.cont{
    background-color: #EEEEEE;
    border: 1px solid #474747;
    width: 380px;
    padding: 0px 0px 20px 0px;
}

ul{
    list-style-type: none;
}
.cont h4{
    text-align: center;
}