table{
    border-top: 2px solid #FF0000; 
    border-bottom: 2px solid #FF0000;
    border-collapse: collapse;
    font-family: sans-serif;
}
tr:nth-of-type(even){
    background-color: #E6E6E6;
}
th{
    text-align: left;
}
td{
    padding: 5px;
    height: 40px;
}
div{
    width: 700px;
}
/* tbody tr:last-of-type{
    border-bottom: 2px solid #6d6d6d;
}

thead tr:first-of-type{
    border-top: 2px solid #6d6d6d;
} */