body{
    background: #fafafa;
    font-family: sans-serif;
}

label, input {
    display: block;
    width: 100%;
}

form{
    width: 400px;
    margin: 50px auto;
    background: white;
    -webkit-box-shadow: 10px 10px 0px -4px rgba(217,217,217,1);
    -moz-box-shadow: 10px 10px 0px -4px rgba(217,217,217,1);
    box-shadow: 10px 10px 0px -4px rgba(217,217,217,1);
    padding: 15px;
}

input, select, button{
    margin-bottom: 10px;
    outline-color: pink;
}

input{
    border: 0;
    border-bottom: 1px solid #CFCFCF;
}

p{
    font-size: 11px;
}
::-moz-selection{
    background-color: pink;
}

::selection{
    background-color: pink;
}

.inline{
    display: flex;
}

/* input[type="number"],
label[for="zip-code"]{
    margin-left: 10px;
    width: 297.5px;
} */

.inline div:first-of-type{
    width: 25%;
}

.inline div:last-of-type{
    width: 75%;
    margin-left: 5%;
}

button{
    background: #BB6C7A;
    border: 0;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    padding: 5px 10px;
    border-radius: 3px;
    /* -webkit-box-shadow: 4px 4px 5px 0px rgba(214,214,214,1);
    -moz-box-shadow: 4px 4px 5px 0px rgba(214,214,214,1);
    box-shadow: 4px 4px 5px 0px rgba(214,214,214,1); */
    
}

.circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.checkbox-fieldset label{
    margin: 5px 0px;
    position: relative;
    padding-left: 30px;
}

.checkbox-fieldset label:before{
    left: 0;
    position: absolute;
    top: -5px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #B16372;
    margin: 5px;
}

.checkbox-fieldset input:checked +  label:before{
    content: "✔";
    color: #B16372;
    line-height: 15px;
    text-align: center;
}

.checkbox-fieldset input{
    display: none;
}
.circle{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 15px;
}

.radio-fieldset label{
    position: relative;
    padding-left: 30px;
    margin: 5px 0px;
}

.radio-fieldset label:before{
    left: 0;
    position: absolute;
    top: -5px;
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid #B16372;
    margin: 5px;
    border-radius: 50%;
}

.radio-fieldset input:checked +  label:before{
    content: "✔";
    color: #B16372;
    line-height: 15px;
    text-align: center;
}

.radio-fieldset input{
    display: none;
}