h1,
h2,
p{
    color: #222
}

h1{
    font-size: 60px;
}
.highlight{
    font-size: 22px;
    background-color: #ffff73
}
h1,
.highlight{
    font-family: 'Oswald', sans-serif;
}

p, h2{
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}